<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			{{ title }}
		</div>
		<div class="panel-body">
		<div id="machinemodelgraph" style="max-height: 250px;"></div>
	</div>
</div>
{% block script %}
<!-- Morris Charts JavaScript -->
<script src="/static/js/plugins/morris/raphael.min.js"></script>
<script src="/static/js/plugins/morris/morris.min.js"></script>
<script type="text/JavaScript">
$(function() {
Morris.Donut({
	element: 'machinemodelgraph',
	data: [
{% for item in data|dictsort: 'machine_model' %}
{% if item.machine_model %}
	{
		label: "{{ item.machine_model }}",
		value: {{ item.count }}
	},
{% endif %}
{% endfor %}
],
	resize: true
}).on('click', function(i, row){
	console.log(row['label']);
	var url_mask = "{% url 'machine_list_front' 'MachineModel' 'abc123' %}".replace(/abc123/, row['label'].toString());
	window.location=url_mask;
});

});
</script>
{% endblock %}